
body{
    margin:0px;
    font-size:13px;
    font-family:arial;
}

#main{
	position:relative;
    width:1080px;
    height:300px;
    margin-bottom:2px;
    margin-left:100px;
    padding:10px;
    border: 1px solid #000000;
}

#head {
	height:80px;
    width:1080px;
    margin-bottom:2px;
    margin-left:100px;
    padding:10px;
    border:1px solid #000000;
    
    text-align:center;
    background-color:#a2d9ff;
}

#content {
 	float: left;
    width:880px;
    margin-bottom:2px;
    margin-left:0px;
    padding-right:0px;
    
    text-align:center;
    border: 1px solid #000000;
    background-color:#a2d9ff;
}

#link {
    
	float: right;
 	width:190px;
   	margin-left:6px;
    margin-right:0px;
    margin-bottom:2px;
    
    text-align: center;
    border:1px solid #000000;
    background-color:gray;
}

#foot {
    clear:both;
    height: 80px;
    width:1080px;
    margin-left:100px;
    padding:10px;
    
    text-align:center;
 	border: 1px solid #000000;
    background-color:#a2d9ff;
}



